---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}"> {{ post.title }} </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>
  </div>
  {% endfor %}
</div>

<div class="paginate">
  {% if paginator.total_pages > 1 %} {% for page in (1..paginator.total_pages)
  %} {% if page == paginator.page %}
  <span class="current">{{ page }}</span>
  {% elsif page == 1 %}
  <a class="" href="{{ '/' | absolute_url }}">{{ page }}</a>
  {% else %}
  <a class="" href="{{ '/page' | append: page | absolute_url }}">{{ page }}</a>
  {% endif %} {% endfor %} {% endif %}
</div>
